
body{
    color: whitesmoke;
    height: 100%;
}

/* Header */
.header {
    height: 100px;
}
.search-center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
}

.brand {
    overflow-x: hidden;
    min-width: 300px;
    text-align: center;
    width: 100%;
}

.brand-icon {
    color:whitesmoke;
    vertical-align: middle;
}

.brand-text {
    color: whitesmoke;
    font-size: 2rem;
    margin-left: 20px;
    vertical-align: middle;
}

/* Current Weather  */
.current-weather-display {
    background-color: #ECEFF1;    
    text-align: center;
    padding: 10px;
    width: 100%;
    color: grey;
}

.current-weather-display .weather-location {
    font-size: 1rem;
    vertical-align: middle;
}


.current-weather-display .weather-min-max-temp {
    font-size: 1rem;
    vertical-align: middle;    
}

.current-weather-display .weather-current .weather-temp {
    font-size: 3rem;
    vertical-align: middle;
}

.current-weather-display .weather-condition .weather-icon {
    height: 4rem;
    vertical-align: middle;
}

.current-weather-display .weather-condition .weather-description {
    font-size: 1.4rem;
    vertical-align: middle;
}

.current-weather-display .weather-update {
    font-size: 0.8rem;
    vertical-align: middle;
}

.card{
    background-color: seagreen !important;
}